.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  height: 520px;
}

.home__parallax-bg {
  background: url(../img/html-tour/destionations-1-title.jpg) no-repeat;
  background-position: center 0px;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate3d(0, 0, 0);
}

.home__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home__content p {
  font-family: "Satisfy", sans-serif;
  color: var(--white-color);
  font-size: 34px;
}

.home__content h2 {
  color: var(--white-color);
  font-size: 65px;
  font-weight: 600;
}

.tour-container {
  background-color: #fff;
  box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.2);
  z-index: 999;
  position: relative;
  top: -80px;
}

.tour-container.grid.wide {
  padding: 0;
}

.tour-container__nav {
  width: 100%;
  height: 80px;
  background-color: #f8f8f8;
  display: flex;
  margin-bottom: 52px;
}

.tour-container__nav--item {
  width: 220px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1.3px;
  cursor: pointer;
  transition: 0.3s ease;
}

.tour-container__nav--item:hover {
  background-color: #fff;
}

.tour-container__nav--item.active {
  background-color: #fff;
}

.tour-container__nav--item i {
  padding-right: 8px;
  font-size: 14px;
}

.tour-container__content {
  display: flex;
  padding: 0 52px;
}

.tour-container__content--main {
  flex: 3;
  padding-right: 52px;
}

.content-pane {
  padding-top: 30px;
  display: none;
}

.content-pane.active {
  display: block;
}

.tour-container__content--form {
  flex: 1;
}

.tour-container__review--heading {
  display: flex;
  align-items: center;
}

.tour-container__reviews--content {
  padding-bottom: 96px !important;
}

.tour-container__review--heading h2 {
  font-size: 30px;
  font-weight: 600;
  letter-spacing: -1.5px;
  margin-right: 26px;
  color: #212121;
}

.tour-container__review--heading p {
  margin-bottom: 0;
  font-size: 14px;
  color: #505050;
}

.tour-container__review--heading p span {
  font-size: 18px;
  color: var(--primary-color);
  font-weight: 600;
  letter-spacing: -1.5px;
  padding-right: 8px;
}

.tour-container__review--rate i {
  font-size: 14px;
  color: var(--primary-color);
}

.tour-container__review--rate span {
  font-size: 14px;
  color: #505050;
  margin-left: 12px;
}

.tour-container__review--desc {
  color: #505050;
  font-size: 14px;
  line-height: 24px;
  margin-top: 32px;
}

.tour-container__review--btn {
  display: flex;
  margin: 36px 0;
}

.tour-container__review--btn div {
  padding: 8px 32px;
  background-color: #3fd0d4;
  text-align: center;
  margin-right: 6px;
  color: #fff;
  font-size: 14px;
}

.tour-container__review--btn div i {
  padding-right: 8px;
}

.tour-container__review--list {
  width: 100%;
}

.tour-container__review--item {
  display: flex;
  width: 100%;
  padding: 12px 0 32px 0;
}

.tour-container__item--heading {
  flex: 1;
  font-size: 14px;
  font-weight: 600;
}

.tour-container__item--heading.included {
  line-height: 54px;
}

.tour-container__item--desc {
  flex: 2;
  font-size: 14px;
  color: #212121;
}

.tour-container__item--desc.included {
  display: flex;
}

.tour-container__desc--text {
  margin-right: 16px;
}

.tour-container__desc--text i {
  margin-right: 8px;
}

.tour-container__review--link {
  padding-top: 48px;
}

.tour-container__review--link .grid {
  padding: 0;
}

.tour-container__link--title {
  font-size: 30px;
  font-weight: 600;
  letter-spacing: -1.5px;
  color: #212121;
}

.tour-container__link--desc {
  font-size: 14px;
  line-height: 24px;
  color: #505050;
}

.tour-container__link--img {
  overflow: hidden;
}

.tour-container__link--img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s ease;
}

.tour-container__link--img:hover img {
  transform: scale(1.02);
  opacity: 0.7;
}

.tour-container__content--form form {
  background-color: var(--primary-color);
  padding: 36px 20px;
  color: #fff;
}

.tour-container__form--title {
  font-size: 22px;
  font-weight: 600;
  letter-spacing: -1.1px;
}

.tour-container__form--desc {
  font-size: 14px;
  line-height: 24px;
}

.tour-container__content--form .form-group {
  width: 100%;
  height: 54px;
  background-color: #6fdcdf;
  position: relative;
  margin-top: 6px;
}

.tour-container__content--form .form-group i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding-left: 14px;
}

.tour-container__form--input {
  width: 80%;
  background-color: transparent;
  color: #fff;
  height: 100%;
  outline: none;
  border: none;
  float: right;
  font-size: 14px;
}

.tour-container__form--input::placeholder {
  color: #fff;
}

.tour-container__content--form .form-group.form-group-area {
  height: 78px;
}

.tour-container__content--form .form-group.form-group-area i {
  top: 14px;
  transform: unset;
}

.tour-container__form--area {
  background-color: transparent;
  color: #fff;
  width: 80%;
  float: right;
  border: none;
  outline: none;
  padding-top: 14px;
  font-size: 14px;
}

.tour-container__form--area::placeholder {
  color: #fff;
}

.tour-container__form--btn {
  margin-top: 6px;
  color: #212121;
  background-color: #fff;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1.3px;
  border: none;
  outline: none;
  width: 100%;
  height: 54px;
  transition: 0.3s ease 0.1s;
}

.tour-container__form--btn:hover {
  background-color: #23a9af;
  color: #fff;
}

.tour-container__content--linkimg {
  width: 100%;
  aspect-ratio: 1/1;
  margin-top: 34px;
}

.tour-container__content--linkimg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tour-container__plan--title {
  font-size: 30px;
  font-weight: 600;
  letter-spacing: -1.5px;
  margin-right: 26px;
  color: #212121;
}

.tour-container__plan--list {
  display: flex;
  margin-top: 72px;
}

.tour-container__list--number {
  flex: 1;
  color: #fff;
  font-size: 22px;
  font-weight: 600;
}

.tour-container__list--number div {
  width: 52px;
  height: 52px;
  background-color: var(--primary-color);
  text-align: center;
  line-height: 52px;
  position: relative;
}

.tour-container__list--number div::after {
  position: absolute;
  content: "";
  top: 100%;
  left: calc(-50% + 2px);
  width: 100%;
  height: 340px;
  border-right: 2px dashed var(--primary-color);
}

.tour-container__list--number .last::after {
  display: none;
}

.tour-container__list--main {
  flex: 9;
}

.tour-container__list--main h2 {
  font-size: 22px;
  font-weight: 600;
  letter-spacing: -1.1px;
  color: #212121;
  padding-top: 12px;
}

.tour-container__list--main p {
  font-size: 14px;
  line-height: 24px;
  margin-top: 24px;
  color: #505050;
}

.tour-container__list--main ul {
  padding-left: 20px;
  list-style: square;
  font-size: 14px;
  color: #505050;
  margin-top: 36px;
}

.tour-container__list--main ul li {
  padding-bottom: 12px;
}

.tour-container__geos--title,
.tour-container__gallery--title,
.tour-container__reviews--title {
  font-size: 30px;
  font-weight: 600;
  letter-spacing: -1.5px;
  color: #212121;
}

.tour-container__geos--desc,
.tour-container__gallery--desc,
.tour-container__reviews--desc {
  font-size: 14px;
  line-height: 24px;
  color: #505050;
  margin-top: 24px;
}

.tour-container__geos--map {
  width: 100%;
  aspect-ratio: 1/1;
  margin-top: 48px;
  position: relative;
}

.map-btn {
  position: absolute;
  width: 240px;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  height: 42px;
  border: none;
  outline: none;
  background-color: var(--primary-color);
  color: #fff;
  transition: 0.3s ease;
  font-size: 14px;
  font-weight: 600;
}

.map-btn:hover {
  background-color: #23a9af;
}

.tour-container__geos--history {
  font-size: 22px;
  font-weight: 600;
  letter-spacing: -1.1px;
  margin-top: 60px;
}

.tour-container__gallery--list {
  margin-top: 48px;
  padding: 0;
}

.tour-container__gallery--item {
  width: 100%;
  height: 220px;
  overflow: hidden;
}

.tour-container__gallery--item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.6s ease 0.05s;
}

.tour-container__gallery--item:hover img {
  transform: scale(1.02);
  opacity: 0.7;
}

.tour-container__reviews--item {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.tour-container__reviews--item p {
  font-size: 65px;
  font-weight: 600;
  color: #212121;
  margin-bottom: 0;
}

.tour-container__reviews--item div {
  color: var(--primary-color);
  font-size: 14px;
  font-weight: 500;
}

.tour-container__reviews--item div i {
  margin-right: 6px;
}

.tour-container__reviews--rate {
  width: 100%;
}

.tour-container__rate--item {
  width: 100%;
  margin-bottom: 36px;
}

.tour-container__rate--desc {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 600;
  color: #212121;
}

.tour-container__rate--bar {
  width: 100%;
  background-color: #f0ede8;
  height: 22px;
  position: relative;
}

.tour-container__bar--item {
  width: 10%;
  height: 100%;
  background-color: var(--primary-color);
  position: absolute;
  top: 0;
  left: 0;
  transition: 3s ease-in;
}

.tour-container__bar--item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  aspect-ratio: 1/1;
  background-color: #39b9bc;
}

.tour-container__bar--item::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  aspect-ratio: 1/1;
  background-color: #39b9bc;
}

.tour-container__bar--item.rating.run {
  width: 60%;
}

.tour-container__bar--item.comfort.run {
  width: 100%;
}

.tour-container__bar--item.food.run {
  width: 100%;
}

.tour-container__bar--item.hospitality.run {
  width: 60%;
}

.tour-container__bar--item.hygiene.run {
  width: 80%;
}

.tour-container__bar--item.reception.run {
  width: 60%;
}

.tour-container__reviews--comments {
  padding-top: 40px !important;
}

.tour-container__comments--img {
  width: 84px;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.tour-container__comments--img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tour-container__comments--name {
  font-size: 18px;
  font-weight: 600;
  color: #212121;
  line-height: 24px;
  transform: translateX(-15px);
}

.tour-container__comments--text {
  font-size: 14px;
  line-height: 24px;
  color: #505050;
  transform: translateX(-15px);
}

.tour-container__comments--item {
  display: flex;
}

.tour-container__comments--desc {
  font-size: 14px;
  font-weight: 500;
  color: #212121;
  line-height: 24px;
  margin-right: 16px;
}

.tour-container__comments--star {
  color: var(--primary-color);
}

.tour-container__comments--date {
  font-size: 14px;
  font-weight: 600;
  color: #212121;
  transform: translateX(-15px);
  margin-top: 24px;
  padding-bottom: 36px;
}

.tour-container__reviews--post {
  background-color: var(--primary-color);
  padding: 40px;
}

.tour-container__reviews--post h2 {
  font-size: 30px;
  font-weight: 600;
  color: #fff;
  line-height: -1.5px;
}

.tour-container__post--list {
  margin-top: 27px;
}

.tour-container__post--item {
  display: flex;
}

.tour-container__post--desc {
  font-size: 14px;
  color: #fff;
  line-height: 24px;
  margin-right: 16px;
}

.tour-container__post--star {
  font-size: 14px;
  color: #fff;
  cursor: pointer;
}

.tour-container__reviews--post .form-group-area {
  width: 100%;
  height: 180px;
  background-color: #6fdcdf;
  position: relative;
  margin-top: 24px;
}

.tour-container__reviews--post .form-group-area i {
  position: absolute;
  top: 15px;
  left: 20px;
  color: #fff;
}

.tour-container__reviews--post .form-group-area textarea {
  width: 92%;
  height: 100%;
  border: none;
  outline: none;
  background-color: #6fdcdf;
  float: right;
  padding: 16px 0;
  font-size: 14px;
  color: #fff;
}

.tour-container__reviews--post {
  display: flex;
  flex-direction: column;
}

.tour-container__reviews--post .form-group-area textarea::placeholder {
  color: #fff;
}

.tour-container__post--input {
  display: flex;
}

.tour-container__reviews--post .form-group {
  width: 50%;
  color: #fff;
  height: 52px;
  background-color: #6fdcdf;
  position: relative;
  margin-top: 6px;
  flex: 1;
}

.tour-container__reviews--post .form-group:first-child {
  margin-right: 3px;
}

.tour-container__reviews--post .form-group:last-child {
  margin-left: 3px;
}

.tour-container__reviews--post .form-group i {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.tour-container__reviews--post .form-group input {
  width: 84%;
  float: right;
  font-size: 14px;
  background-color: #6fdcdf;
  border: none;
  outline: none;
  height: 100%;
  color: #fff;
}

.tour-container__reviews--post .form-group input::placeholder {
  color: #fff;
}

.tour-container__reviews--post .form-check {
  display: flex;
  padding-left: 0 !important;
  margin: 24px 0;
}

.tour-container__reviews--post .form-check input {
  margin-right: 8px;
}

.tour-container__reviews--post .form-check label {
  font-size: 14px;
  line-height: 24px;
  color: #fff;
}

.tour-container__post--submit {
  width: 100%;
  height: 52px;
  background-color: #fff;
  color: #212121;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1.3px;
  border: none;
  outline: none;
  transition: 0.3s ease 0.05s;
}

.tour-container__post--submit:hover {
  color: #fff;
  background-color: #23a9af;
}

/* Mobile & Tablet */

@media (max-width: 1023px) {
  .home__content h2 {
    font-size: 40px;
    text-align: center;
  }
  .tour-container__nav {
    flex-direction: column;
    height: unset;
  }
  .tour-container__nav--item {
    width: 100%;
    justify-content: flex-start;
    height: 82px;
    padding-left: 32px;
  }
  .tour-container__content {
    flex-direction: column;
  }
  .tour-container__content--main {
    flex: 1;
  }
  .tour-container__content--form {
    flex: 1;
    margin-top: 48px;
  }
  .tour-container__content--linkimg {
    width: 60%;
  }
  .tour-container__content--main {
    padding-right: 0;
  }
  .tour-container__comments--name,
  .tour-container__comments--date,
  .tour-container__comments--text {
    transform: unset;
  }
}

/* Tablet */

@media (min-width: 740px) and (max-width: 1023px) {
  .tour-container__form--input {
    width: 92%;
  }
  .tour-container__form--area {
    width: 92%;
  }
  .tour-container__list--main {
    flex: 5;
  }
  .tour-container__geos--map {
    height: 400px;
  }
  .tour-container__list--number div::after {
    height: 410px;
  }
}

/* Mobile */

@media (max-width: 739px) {
  .tour-container__review--heading {
    flex-direction: column;
    align-items: unset;
  }
  .tour-container__review--heading h2 {
    margin-right: 0;
  }
  .tour-container__review--heading p {
    margin-bottom: 16px;
  }
  .tour-container__review--btn {
    flex-direction: column;
  }
  .tour-container__review--btn div {
    margin-top: 8px;
  }
  .tour-container__review--item {
    flex-direction: column;
    padding: 12px 0 8px 0;
  }
  .tour-container__item--desc.included {
    flex-direction: column;
  }
  .tour-container__item--desc.included {
    flex-direction: column;
  }
  .tour-container__list--main {
    flex: 3;
  }
  .tour-container__comments--list .col {
    padding-left: 15px !important;
  }
  .tour-container__post--list .row .col:not(:first-child) {
    padding-left: 15px !important;
  }
  .tour-container__reviews--post .form-group-area textarea {
    width: 80%;
  }
  .tour-container__reviews--post .form-group input {
    width: 70%;
  }
  .tour-container__reviews--post .form-group {
    width: 100%;
  }
  .tour-container__post--input {
    display: block;
  }
  .tour-container__reviews--post .form-group:last-child {
    margin-left: 0;
  }
  .tour-container__list--number div::after {
    height: 600px;
  }
}
