/* ========= PC low =============== */

@media (max-width: 1119px) {
  .header__nav--link {
    padding: 0 16px;
  }
  .home {
    height: 440px;
  }
  .home__slider--title {
    font-size: 80px;
  }
  .home__slider--text {
    padding: 0 200px;
  }
}

/* ============ Mobile & Tablet ================= */

@media (max-width: 1023px) {
  .top__info {
    display: none !important;
  }
  .header__menu,
  .header__user {
    display: block;
  }
  .header__nav {
    display: none !important;
  }
  .header__logo {
    position: absolute;
    margin-left: 50%;
    transform: translateX(-50%);
  }
  .header__more {
    display: none !important;
  }
  .home {
    height: 400px;
  }
  .home__slider--desc {
    font-size: 36px;
  }
  .home__slider--title {
    font-size: 72px;
  }
  .home__slider--text {
    font-size: 18px;
  }
  .greeting__video {
    width: 100%;
  }
  .review__item {
    padding: 36px 8px;
  }
  .blog .col.l-4 {
    display: flex;
    justify-content: center;
  }
  .choose {
    padding-bottom: 120px;
    background-color: #fff;
  }
  .plan__list.swiper {
    overflow: hidden !important;
    padding-bottom: 20px;
  }
  .review__list.swiper {
    overflow: hidden !important;
    padding-bottom: 40px;
  }
}

/* ============ Tablet =================== */

@media (min-width: 740px) and (max-width: 1023px) {
  .address__heading {
    font-size: 54px;
  }
  .address__desc {
    padding: 0 200px;
  }
  .greeting__container--title,
  .plan__title,
  .unforget__title,
  .review__title {
    font-size: 50px;
  }
  .greeting__container--text,
  .plan__text,
  .unforget__text,
  .review__text,
  .choose__text,
  .ready__text {
    padding: 0 200px;
  }
  .comment-swiper {
    width: 100%;
  }
  .ready__list.swiper {
    width: 100%;
  }
  .choose {
    height: auto;
    padding-bottom: 200px;
  }
}

/* ============ Mobile ==================== */

@media (max-width: 739px) {
  .home {
    height: 360px;
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
  .home__slider--desc {
    font-size: 36px;
  }
  .home__slider--title {
    font-size: 60px;
  }
  .home__slider--text {
    font-size: 16px;
    padding: 0 50px;
  }
  .home__search {
    display: none;
  }
  .greeting__heading img {
    width: 100%;
  }
  .address__heading,
  .greeting__container--title,
  .plan__title,
  .unforget__title,
  .review__title,
  .choose__title,
  .ready__title {
    font-size: 44px;
  }
  .greeting__container--text,
  .plan__text,
  .address__desc,
  .unforget__text,
  .review__text,
  .choose__text,
  .ready__text {
    padding: 0 20px;
  }
  .comment__title {
    padding: 0 20px;
  }
  .comment-swiper {
    width: 100%;
  }
  .comment .swiper-button-next,
  .comment .swiper-button-prev {
    display: none;
  }
  .blog {
    padding-top: 240px;
    padding-bottom: 120px;
    padding: 240px 24px 120px 24px;
  }
  .ready__list.swiper {
    width: 100%;
  }
  .ready__list .swiper-button-next,
  .ready__list .swiper-button-prev {
    display: none;
  }
  .choose {
    height: auto;
    padding-bottom: 120px;
  }
  .blog__list--desc {
    padding-right: 40px;
  }
  .blog__info--desc {
    padding-right: 32px;
  }
  .subs__footer {
    padding: 0 20px;
  }
  .subs__footer h3 {
    font-size: 16px;
  }
  .subs__footer div {
    width: 157px;
    height: 52px;
    line-height: 52px;
    font-size: 14px;
    margin-left: 20px;
  }
  .footer {
    padding: 0 20px;
  }
  .blog__info--desc {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
  }
}

/* ======= Moblie low ============== */

@media (max-width: 570px) {
  .home__slider--desc {
    font-size: 24px;
  }
  .home__slider--title {
    font-size: 40px;
  }
  .home__slider--text {
    font-size: 14px;
  }
}
