.login-notification-modal,
.logout-notification-modal,
.register-notification-modal,
.order__reason--overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 999999999999999999;
  opacity: 0;
  visibility: hidden;
}

.login-notification,
.logout-notification,
.register-notification,
.order__reason {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 300px;
  height: 180px;
  background-color: #fff;
  z-index: 9999999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: .3s ease;
}

.login-notification p,
.register-notification p,
.order__reason p {
  color: #212121;
  font-size: 14px;
  font-weight: 600;
}

.login-notification-modal.active,
.login-notification-modal.active .login-notification {
  opacity: 1;
  visibility: visible;
}

.register-notification-modal.active,
.register-notification-modal.active .register-notification {
  opacity: 1;
  visibility: visible;
}

.logout-notification-modal.active,
.logout-notification-modal.active .logout-notification {
  opacity: 1;
  visibility: visible;
}

.order__reason--overlay.active,
.order__reason--overlay.active .order__reason {
  opacity: 1;
  visibility: visible;
}

.header__cart--more--cnt {
  position: absolute;
  top: 10px;
  right: 8px;
  width: 16px;
  height: 20px;
  background-color: red;
  font-size: 14px;
  color: #fff;
  text-align: center;
  line-height: 20px;
  border-radius: 4px;
}

#toast-msg {
  position: fixed;
  top: 32px;
  right: 32px;
  z-index: 9999999999999999999;
}

.toasts {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 20px 0;
  border-left: 6px solid;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
  min-width: 400px;
  max-width: 450px;
  transition: 0.3s all linear;
  z-index: 9999999999999999999999;
}

@keyframes slideInLeft {
  from {
    transform: translateX(calc(100% + 32px));
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

/* ======= Buttons ======== */

/* Block */

.toasts + .toasts {
  margin-top: 20px;
}

.toast__icon {
  font-size: 24px;
}

.toast__icon,
.toast__close {
  padding: 0 16px;
}

.toast__body {
  flex-grow: 1;
}

.toast__title {
  font-size: 15px;
  font-weight: 600;
  color: #212121;
}

.toast__msg {
  font-size: 14px;
  color: #555;
  margin-top: 4px;
  font-weight: 500;
}

.toast__close {
  font-size: 30px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.toast--success {
  border-color: #3fd0d4;
}

.toast--success .toast__icon {
  color: #3fd0d4;
}

.toast--info {
  border-color: #2f86eb;
}

.toast--info .toast__icon {
  color: #2f86eb;
}

.toast--warning {
  border-color: #ffc021;
}

.toast--warning .toast__icon {
  color: #ffc021;
}

.toast--error {
  border-color: #e30801;
}

.toast--error .toast__icon {
  color: #e30801;
}
